.date-task {
  float: right;  
}
.dateFilter{
  display: none;
}
.point {
  cursor: pointer;
}
.finish {
  text-decoration: line-through red ;
}
.importance {
  color: rgb(92, 145, 175);
  text-decoration: underline wavy
}

.durationSlice {
  display: none;
}

.labelDay {
  display: block;
  margin-left: 20px;
}
.checkDone {
  display: none;
}
.checkNot {
  margin-left: 35px
}
.checkBoxDays {

  margin-left: 25px;
  margin-top: 5px;
}
.bt-group {
  margin-left: 3px;
}
