.date-task {
  float: right;  
}
.dateFilter{
  display: none;
}
.point {
  cursor: pointer;
}
.finish {
  text-decoration: line-through red ;
}
.importance {
  color: rgb(92, 145, 175);
  text-decoration: underline wavy
}

.durationSlice {
  display: none;
}

.labelDay {
  display: block;
  margin-left: 20px;
}
.checkDone {
  display: none;
}
.checkNot {
  margin-left: 35px
}
.checkBoxDays {

  margin-left: 25px;
  margin-top: 5px;
}
.bt-group {
  margin-left: 3px;
}
/*redux form task create*/
.fieldDescription {
  width: 100%;
}
.fieldDate {
  margin-top: 15px !important;
  width: 100%;
}
.fieldSelect {
  margin-top: 15px !important;
  width: 200px !important;
}
.formTask {
  border: black 2px solid !important;
  padding: 4px !important;
  margin-bottom: 60px  !important;

}
.buttonAdd {
  margin-top: 15px !important;
}
.buttonRes {
  margin-top: 15px !important;
  margin-left: 15px !important;
}