.date-task {
  float: right;  
}
.dateFilter{
  display: none;
}
.point {
  cursor: pointer;
}
.finish {
  text-decoration: line-through
}
.importance {
  color: rgb(92, 145, 175);
  text-decoration: underline wavy
}
