.calendar-heatmap {
  border: 2px #a8a8a8 solid;
  border-radius: 3px;
  padding: 4px;

}
.react-calendar-heatmap .color-scale-1 { fill: #9bfcef; }
.react-calendar-heatmap .color-scale-2 { fill: #fd4a4a; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }

.calendar {
  margin-bottom: 20px
}
.successfulCheck{
  margin-left: 18px;
}
.successfulCheck:focus {
  outline:0px solid white;
}
.croupCheckDay{
    display: block;
}

.setting{
    margin-top: 15px;
    margin-left: 3px;
    margin-bottom: 50px;
}